{% extends 'core/base.html' %}

{% block title %}{{ room.name }} | {% endblock %}

{% block content %}
<div class="p-5 lg:p-5 text-center">
    <h1 class="text-2xl lg:text-4xl text-black">{{ room.name }}</h1>
</div>
<div class="container  flex flex-col items-center">
<button id="membersdropdownbtn" data-dropdown-toggle="membersdropdown" class="w-100% text-black bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center " type="button">Show Members (6) <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
<!-- Dropdown menu -->
<div id="membersdropdown" class="z-10 hidden bg-white divide-y divide-blue-100 rounded-lg shadow w-44">
    <ul class="py-2 text-blue" aria-labelledby="membersdropdownbtn">
        {% for m in members %}
        <li class="px-2">{{ m.username }}</li>
        {% endfor %}
    </ul>
</div>
</div>
<br><br>



<div class="overflow-y-scroll scroll-smooth h-150 lg:h-60 lg:w-7/10 mx-4 lg:mx-auto p-4 bg-white rounded-xl" id="chat-messages-container">
    <div class="chat-messages space-y-3" id="chat-messages">
        {% for m in messages %}
            {% if m.content != "" %}
            {% if m.user == curuser%}
                <div class="ml-auto w-fit bg-emerald-400 p-1 shadow rounded-lg">
                        {{ m.content }}<br> </div>
            {% else %}
                {% if m.user.username == "system" %} <div class="ml-auto mr-auto text-center w-fit p-1 bg-red-300 shadow rounded-lg">
                    [System Message]
                {% else %} <div class="w-fit bg-blue-300 p-1 shadow rounded-lg"><b>{{ m.user.username }}</b>:
                {% endif %}  <br>{{ m.content }}<br> </div>
            {% endif %}
            {% endif %}

        {% endfor %}
    </div>
</div>

<div class="lg:w-7/10 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl ">
    <form method="post" action="." class="flex">
        {% csrf_token %}
        <input type="text" name="content" class="flex-1 mr-3" placeholder="Your message..." id="chat-message-input">

        <button 
            class="px-5 py-3 rounded-xl text-white bg-blue-600 hover:bg-blue-700"
            id="chat-message-submit"
        >Send</button>
    </form>
</div>
    </div>





{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.message) {
            if (data.username==userName){
            document.querySelector('#chat-messages').innerHTML +=('<div class="ml-auto w-fit bg-emerald-400 p-1 shadow rounded-lg">'+
                        data.message+'<br> </div>');
                        }
            else{if (data.username=='system'){
            document.querySelector('#chat-messages').innerHTML +=('<div class="ml-auto mr-auto text-center w-fit p-1 bg-red-300 shadow rounded-lg">[System Message]<br>'+ data.message + '<br> </div>');
            }
            else{
            document.querySelector('#chat-messages').innerHTML += ('<div class="w-fit bg-blue-300 p-1 shadow rounded-lg"><b>' + data.username + '</b>:<br> ' + data.message + '<br> </div>');}
               }
        }

        scrollToBottom();
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault()

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        console.log({
            'message': message,
            'username': userName,
            'room': roomName
        })

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName
        }));

        messageInputDom.value = '';

        return false
    };

    /**
    * A function for finding the messages element, and scroll to the bottom of it.
    */
    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages-container");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Add this below the function to trigger the scroll on load.
    scrollToBottom();
</script>
{% endblock %}