<!DOCTYPE html>
{% load static %}
<script src="{% static 'myfirst.js' %}"></script>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}UniFriends</title>

        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />

        <style>
            .messages {
                height: 400px;
                overflow-y: auto;
            }
        </style>
    </head>


    <body class="bg-blue-300">
        <nav class="flex items-center justify-between px-4 py-6 bg-blue-950">
            <div>
                {% if request.user.is_authenticated %}
                <a href="/rooms/" class="text-xl text-white">UniFriends</a>
                {% else %}
                <a href="/" class="text-xl text-white">UniFriends</a>
                {% endif %}
            </div>


<div class="flex items-center space-x-4">

<a  href="/" class="">
<div class="flex items-center w-max bg-slate-300 hover:bg-slate-500 rounded">
                <img class="w-10 p-1" src="{% static 'question.png' %}" alt="How to use">
    <p class="p-1">How to use</p>
</div>
            </a>

    <div>

{% if request.user.is_authenticated %}
<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Menu <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
<!-- Dropdown menu -->
<div id="dropdown" class="z-10 hidden bg-white divide-y divide-blue-100 rounded-lg shadow w-44 dark:bg-blue-700">
    <ul class="py-2 text-sm text-blue-700 dark:text-blue-200" aria-labelledby="dropdownDefaultButton">
        <li>
            <a href="/profile/" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-blue-600 dark:hover:text-white">Your Profile</a>
        </li><li>
            <a href="/rooms/" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-blue-600 dark:hover:text-white">Your Groups</a>
        </li><li>
            <a href="/interests/" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-blue-600 dark:hover:text-white">Set Interest</a>
        </li><li>
            <a href="/timetable/" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-blue-600 dark:hover:text-white">Set timetable</a>
        </li><li>
            <a href="/logout/" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-blue-600 dark:hover:text-white">Log out</a>
        </li>
    </ul>
</div>
{% else %}
<div></div>
{% endif %}
        </div>
</div>
        </nav>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </body>
</html>