{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-black">You need friends? UniFriends!</h1><br>
    <h2 class="text-2xl lg:text-4xl text-black">Make real friends in a few seconds</h2><br>
    <h3 class="text-xl lg:text-2xl text-black">You can find friends with similar interest here</h3><br><br>
    <h4 class="text-l lg:text-xl text-black">How to use?</h4>
    <span class="text-s lg:text-m text-black">First, register or log in.</span><br>
    <span class="text-s lg:text-m text-black">Then, add your interest by clicking Set Interest.</span><br>
    <span class="text-s lg:text-m text-black">Finally, Just wait and you will be added to groups when you are matched. You can find your groups by clicking Rooms</span>
</div>
{% endblock %}