{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}
<div class="p-10 text-center">
    <h1 class="text-3xl lg:text-6xl text-black">You need friends? UniFriends!</h1>
    <h2 class="text-xl lg:text-4xl text-black">Make real friends in a few seconds</h2><br>
    <!-- <h3 class="text-xl lg:text-2xl text-black">You can find friends with similar interest here</h3><br><br> -->
    <h4 class="text-l lg:text-xl text-black">How to use?</h4>
    <div class="px-2 lg:px-10 w-full flex flex-wrap items-center">
            <!-- step 1: create profile -->
            <a {% if not request.user.is_authenticated %} href="/signup/" {% endif %} class="w-1/2 lg:w-1/4 px-3 py-3">
                <div class="p-4 bg-white shadow rounded-xl text-center">
                    <h2 class="mb-5 text-lg lg:text-2xl font-semibold">1. Create Profile</h2>
                    {% load static %}
                    <img class="h-auto w-20 lg:max-w-xl mx-auto" src="{% static 'profile.png' %}" alt="profile">
                </div>
            </a>
            <!-- step 2: add timetable -->
            <a {% if request.user.is_authenticated %}href="/timetable/" {% endif %} class="w-1/2 lg:w-1/4 px-3 py-3">
                <div class="p-4 bg-white shadow rounded-xl text-center">
                    <h2 class="mb-5 text-lg lg:text-2xl font-semibold">2. Add Timetable</h2>
                    {% load static %}
                    <img class="h-auto w-20 lg:max-w-xl mx-auto" src="{% static 'calendar_icon.png' %}" alt="calendar">
                </div>
            </a>
            <!-- step 3: add interests -->
            <a {% if request.user.is_authenticated %}href="/interests/" {% endif %} class="w-1/2 lg:w-1/4 px-3 py-3">
                <div class="p-4 bg-white shadow rounded-xl text-center">
                    <h2 class="mb-5 text-lg lg:text-2xl font-semibold">3. Add Interests</h2>
                    {% load static %}
                    <img class="h-auto w-20 lg:max-w-xl mx-auto" src="{% static 'basketball.png' %}" alt="interests">
                </div>
            </a>
            <!-- step 4: done! -->
            <a {% if request.user.is_authenticated %}href="/rooms/" {% endif %} class="w-1/2 lg:w-1/4 px-3 py-3">
                <div class="p-4 bg-white shadow rounded-xl text-center">
                    <h2 class="mb-5 text-lg lg:text-2xl font-semibold">4. Start chatting!</h2>
                    {% load static %}
                    <img class="h-auto w-20 lg:max-w-xl mx-auto" src="{% static 'friends.png' %}" alt="friends">
                </div>
            </a>
    </div><br>
    {% if not request.user.is_authenticated %}
    <!-- <h3 class="text-2xl lg:text-4xl text-black">Sign up here!</h3><br> -->
    <a href="/signup/" class="px-5 py-3 rounded-xl text-white text-2xl bg-blue-600 hover:bg-blue-700">Sign up here!</a><br><br>
    <a href="/login/" class="py-3 text-black underline">Already have a profile? Login here</a>
    {% endif %}
</div>
{% endblock %}