{% extends 'core/base.html' %}

{% block title %}Set Interest | {% endblock %}

{% block content %}
<div class="p-10 text-center">
    <h1 class="text-xl lg:text-5xl text-black">Set Interests</h1>
    <h2 class="text-l lg:text-2xl text-black">Select your interests from the recommended list!</h2>
    <h2 class="text-l lg:text-2xl text-black">We will match you with members that share the same interest</h2>
</div>
<form method="post" action="." class="lg:w-1/4 px-4 mx-auto">
    {% csrf_token %}

    {{form}}

    <button class="px-5 py-3 rounded-xl text-white bg-blue-600 hover:bg-blue-700">Set!</button>
</form>
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-xl lg:text-2xl text-black">Can't find your interests? </h1><br><a href="../newinterest" class="px-5 py-3 rounded-xl text-white bg-blue-600 hover:bg-blue-700">Add new Interest!</a>
</div>

{% endblock %}