{% extends 'core/base.html' %}

{% block title %}Set Timetable | {% endblock %}

{% block content %}

<div class="p-10 text-center items-center justify-center">
    <h1 class="text-3xl lg:text-6xl text-black">Set Timetable</h1>
    <h2 class="text-l lg:text-2xl text-black">Input your timetable so we can suggest activites in timeslots when you're free!</h2>
</div>

{% load static %}
<img class="h-auto max-w-xs lg:max-w-xl mx-auto" src="{% static 'calendar.png' %}" alt="timetable">

<div class="p-10 flex flex-row items-center justify-center space-x-4">
    <a href="/interests/" class="px-5 py-3 rounded-xl text-white bg-blue-600 hover:bg-blue-700">Auto Import</a>

    <a href="/interests/" class="px-5 py-3 rounded-xl text-white bg-blue-600 hover:bg-blue-700">Manual Input</a>
</div>
{% endblock %}